* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 62.5%;
}

:root {
    --background_iconomenu_mobile: #c3dc00;
    --background_menudespeglabe: rgba(16, 26, 51, 255);
    --black: #2A2D2E;
    --footer: #242525;
    --line: #c6d53a;
    --background_information: #6480c8;
}

/*Header*/
.header__hackathon {
    width: 100%;
    height: 9rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(1, 0, 1, 255);
}

.bars__menu--background {
    background-color: var(--background_iconomenu_mobile);
    height: 3rem;
    width: 3rem;
    display: grid;
    justify-content: center;
    border-radius: 20rem;
}

.bars__menu {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    display: grid;

}

.bars__menu span {
    display: block;
    width: 100%;
    height: 0.2rem;
    background: var(--black);
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 300ms;
}

.activeline1__bars-menu {
    transform: rotate(45deg) translate(-2px, 1px);
    position: relative;
    left: 0.5rem;
    top: 2px;
}

.activeline2__bars-menu {
    opacity: 0;
}

.activeline3__bars-menu {
    transform: rotate(-45deg) translate(1px, -3px);
    position: relative;
    left: 0.5rem;
    top: 2px;
    width: 20%;
}

.nav__mobile {
    position: absolute;
    top: 9rem;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--background_menudespeglabe);
    padding: 2rem 0 1rem 0;
    transform: translateY(-100vh);
    transition: all 0.5s ease-in-out;
}

.nav__mobile .container__nav {
    max-width: 25rem;
    margin: 0 auto;
}

.submenu__nav {
    display: none;
}

.nav__ul>.container__nav>li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav__ul>.container__nav>li>.material-symbols-outlined {
    color: #fff;
}

.nav__ul>.container__nav>li>a {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    height: 6rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    padding-left: 7rem;
}

.activate__menu_js {
    transform: translateY(0vh);
    transition: all 0.5s ease-in-out;
}

/*header*/
/*img hackathon*/
.container__hackathon {
    width: 100%;
    height: 200px;
    position: relative;
}

.container__hackathon .container__description--hackathon {
    position: absolute;
    top: 15rem;
    width: 100%;
    display: grid;
    justify-content: center;
    z-index: 200;
}

.container__description--hackathon>h1 {
    position: relative;
    top: -1rem;
    padding: 0 0 1rem 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.img_hackathon {
    background-image: url("../img/imghackathon.png");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    position: relative;
}

.btn__hackathon {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #292926, #c3dc00);
    border-radius: 2rem;
    background-size: 100% auto;
    font-family: 'Roboto', sans-serif;
    font-size: 1.7rem;
    padding: 0.6em 1.5em;
}

button:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
    0% {
        box-shadow: 0 0 0 0 #05bada66;
    }

    70% {
        box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }

    100% {
        box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
}

/*img hackathon*/
/*Noticias*/
.container__news,
.container__descriptions-news {
    width: 100%;
    height: 100%;
    margin: 3rem 0;
}

.container__size--news,
.container__title--descriptions {
    max-width: 980px;
    min-width: 320px;
    margin: 0 auto;
    padding-left: 20px;
}

.title__news {
    font-size: 2rem;
    position: relative;
    display: inline-block;
    margin: 0;
    letter-spacing: 2px;
    margin: 2rem 0;
    text-align: left;
    color: var(--black);
    font-family: 'Roboto', sans-serif;
    padding: 4rem 0 0 0;
}

.title__news::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    bottom: -20px;
    left: 0;
    transform: scale(0.4) skewY(-20deg) rotate(20deg);
    background-color: var(--line);
}

/*Noticias*/

/*Descripcion de la noticia*/
.information__descriptions {
    border-left: 0.4rem var(--line) solid;
    padding: 0 1rem;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

/*Descripcion de la noticia*/
/*Informacion del evento*/
.container__information--hackathon {
    max-width: 980px;
    min-width: 320px;
    margin: 0 auto;
}

.container__size--information h2 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    padding: 1rem 2rem;
    color: var(--background_information);
    font-size: 2rem;
    text-align: justify;
}

/*Informacion del evento*/
/*Galeria de imagenes del evento*/
.container__hackathon--gallery {
    width: 100%;
    height: 100%;
    padding: 2rem 0;
}

.container_title--gallery {
    display: flex;
    justify-content: center;
    color: #fff;
    padding: 3rem 0;
    font-size: 3rem;
    position: relative;
    text-align: center;
    letter-spacing: 3px;
}


.gallery {
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 160px;
    gap: .8em;
    grid-template-areas:
        "img1 img1 img2 img3"
        "img1 img1 img4 img4"
        "img5 img5 img6 img7"
        "img5 img5 img8 img8";
    max-width: 980px;
    margin: 0 auto;
    min-width: 320px;
    padding: 2rem;
}


.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.gallery__picture--g1 {
    grid-area: img1;
}

.gallery__picture--g2 {
    grid-area: img2;
}

.gallery__picture--g3 {
    grid-area: img3;
}

.gallery__picture--g4 {
    grid-area: img4;
}

.gallery__picture--g5 {
    grid-area: img5;
}

.gallery__picture--g6 {
    grid-area: img6;
}

.gallery__picture--g7 {
    grid-area: img7;
}

.gallery__picture--g8 {
    grid-area: img8;
}

.gallery__picture {
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.gallery__picture::before {
    content: "2022";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(195, 220, 0, 0.5);
    transform: scale(0);
    transition: transform 0.6s ease-in-out, opacity 0.6s;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 3rem;

}

.gallery__picture:hover::before {
    transform: scale(100%) rotate(360deg);
}

.container__size--title {
    background-color: var(--background_iconomenu_mobile);
    max-width: 940px;
    margin: 0 auto;
}

/*Galeria de imagenes del evento*/
/*cubo*/
.container__cube {
    width: 50%;
    margin: auto;
    text-align: center;
    display: grid;
    justify-content: end;
    position: absolute;
    top: 60rem;
    left: 45%;
    position: fixed;
}

.cube__faces {
    width: 50px;
    height: 50px;
    position: relative;
    transform-style: preserve-3d;
    animation: rotate 5s infinite linear;
    transform: rotateZ(100px) translateZ(100px);
}

.face {
    position: absolute;
    width: 50px;
    height: 50px;
    background-size: cover;
}

.face .cube__icono {
    position: relative;
    top: 15px;
    width: 50px;
}

.front {
    transform: translateZ(25px);
    background-color: #b2bd17;
}

.back {
    transform: rotateY(180deg) translateZ(25px);
    background-color: #b2bd17;
}

.right {
    transform: rotateY(90deg) translateZ(25px);
    background-color: #b0b1ae;
}

.left {
    transform: rotateY(-90deg) translateZ(25px);
    background-color: #091f48;
}

.top {
    transform: rotateX(90deg) translateZ(25px);
    background-color: #505526;
}

.bottom {
    transform: rotateX(-90deg) translateZ(25px);
    background-color: #2e2e2e;
}

@keyframes rotate {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }

    100% {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

/*cubo*/
/*participantes*/
.container__competitor {
    width: 100%;
    height: 100%;
}

.title__competitor {
    text-align: center;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    font-weight: bold;
    padding: 1rem 0 5rem 0;
}

.container_type--competitor {
    display: flex;
    justify-content: space-around;
    max-width: 940px;
    min-width: 320px;
    margin: 0 auto;
}


.container__description--competitor p {
    font-size: 1.5rem;
    padding: 1rem;
    text-align: justify;
}

/*participantes*/
/*Carrosel*/
.carousel {
    width: 200px;
    margin: auto;
    position: relative;
}

.carousel__container {
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.carousel__item {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.carousel__buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.carousel__button {
    margin: 0 5px;
}

/*Carrosel*/
/*Premios*/
.container__title--awards {
    padding: 2rem 0;
    width: 100%;
    height: 100%;
}

.container__title--awards h1 {
    text-align: center;
    color: var(--black);
    letter-spacing: 2px;
    padding: 2rem 0 6rem 0;
    font-size: 3rem;
}

.container__card_awards {
    display: flex;
    overflow: scroll;
    justify-content: space-between;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    max-width: 940px;
    min-width: 320px;
    margin: 0 auto;

}

.card {
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    cursor: pointer;

}

.card__inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

.card:hover .card__inner {
    transform: rotateY(180deg);
}

.card__front,
.card__back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.card__front {
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 24px;
}

.card__front h2 {
    text-align: center;
    font-size: 2rem;
}

.card__back {
    background-color: #f9f9f9;
    transform: rotateY(180deg);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.card__back h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.card__back p {
    margin: 5px 0;
}

/*Premios*/

/*Patrocinadores*/
.container__sponsors {
    width: 100%;
    height: 100%;
}

.amount__sponsors {
    max-width: 940px;
    min-width: 320px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 3rem 2rem 5rem;
}

.amount__sponsors img {
    width: 80px;
    margin: 7px;
}

.title__sponsors {
    text-align: center;
    letter-spacing: 2px;
    padding: 4rem 0 6rem 0;
    font-size: 3rem;
}

/*patrocinadores*/
/*Inscripcion - formulario*/
.container__form {
    width: 100%;
    height: 100%;
}

form {
    max-width: 920px;
    min-width: 320px;
    margin: 0 auto;
    padding: 4rem 3rem 8rem;
    background-color: rgba(234, 235, 235, 255);

}

form h1 {
    text-align: center;
    letter-spacing: 2px;
    padding: 2rem 0;
    font-size: 3rem;
    color: var(--background_information);
}

label {
    display: block;
    margin-top: 10px;
    font-size: 2rem;
    padding: 2rem 0;
}

input[type="text"],
input[type="email"],
select,
input[type="date"] {
    width: 100%;
    padding: 1rem;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/*Inscripcion - formulario*/
/*Acordion*/
#container-main {
    margin: 40px auto;
    width: 95%;
    min-width: 320px;
    max-width: 960px;
}

#container-main h1 {
    font-size: 40px;
    text-shadow: 4px 4px 5px #16a085;
}

.accordion-container {
    width: 100%;
    margin: 0 0 20px;
    clear: both;
}

.accordion {
    font-size: 1.7rem;
}

.accordion-titulo {
    position: relative;
    display: block;
    padding: 20px;
    font-size: 24px;
    font-weight: 300;
    background: #2c3e50;
    color: #fff;
    text-decoration: none;
}

.accordion-titulo.open {
    background: #16a085;
    color: #fff;
}

.accordion-titulo:hover {
    background: #1abc9c;
}

.accordion-titulo span.toggle-icon:before {
    content: "+";
}

.accordion-titulo.open span.toggle-icon:before {
    content: "-";
}

.accordion-titulo span.toggle-icon {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 38px;
    font-weight: bold;
}

.accordion-content {
    display: none;
    padding: 20px;
    overflow: auto;
}

.accordion-content p {
    margin: 0;
}

.accordion-content img {
    display: block;
    float: left;
    margin: 0 15px 10px 0;
    width: 50%;
    height: auto;
}

.container__questions .title__questions {
    text-align: center;
    padding: 1rem 0 6rem 0;
    font-size: 3rem;
    letter-spacing: 2px;
}

/*Acordion*/
.container__questions {
    padding: 4rem 0;
    max-width: 940px;
    min-width: 320px;
    margin: 0 auto;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    transition: 0.4s;

}

.active,
.accordion:hover {
    background-color: #ccc;
}


.panel {
    padding: 2rem 1.8rem;
    background-color: white;
    display: none;
    overflow: hidden;
    font-size: 1.4rem;
}

.footer {
    display: block;
    background-color: var(--footer);
    justify-content: center;
    position: relative;
}

.contenedor__img--footer {
    display: flex;
    justify-content: center;
    padding: 1.5rem 0;
}

.footer img {
    width: 130px;
    margin: auto 0;
}

.footer .description__footer {
    padding: 1rem 0;
}

.footer .description__footer P {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    text-align: left;
    padding: 2rem 0;
    width: 100%;
    padding-left: 4rem;
}

.footer .red__footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer .red__footer i {
    padding: 1rem 1.5rem;
    color: #fff;
    font-size: 2rem;
}

.footer .copyright__footer {
    background-color: #fff;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    padding: 1.5rem 0;
}

/*footer*/

/*responsive*/

@media(max-width: 750px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "img1 img1 img1"
            "img2 img3 img3"
            "img4 img4 img4"
            "img5 img5 img5"
            "img5 img5  img5"
            "img6 img7 img7"
            "img8 img8 img8";
    }

    .accordion-content {
        padding: 10px 0;
    }
}

@media (max-width: 600px) {
    form {
        max-width: 100%;
    }

    label,
    input,
    select {
        width: 100%;
        display: block;
        margin-bottom: 10px;
    }
}

@media(max-width:400px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem;
        grid-template-areas:
            "img1 img1"
            "img2 img3"
            "img4 img4"
            "img5 img5"
            "img5 img5"
            "img6 img7"
            "img8 img8";
    }
}